/* html{
    scroll-behavior: smooth;
} */
body {
    background-color: black; 
    color: white;
    font-family: Priori Sans OT Light;
    font-weight: 100;
    margin: 0;
    font-size: larger;
    
}

body h1,h2,h3{
    text-align: center;
    font-weight: 100;
}

#navBarContainer{
    position: fixed;
    width: 100vw;
    z-index: 100;
    /* background-color: tomato; */
    background-image: linear-gradient(to bottom, rgba(27, 26, 26, 0.699) ,rgba(0, 0, 0, 0));
}
#navBarLarge{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 100;
}

#navBarLarge a {
    text-decoration: none;
    font-size: 35px;
    line-height: 100px;
    padding-right: 10px;
    color:white;
}
#navBarSmall{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display:none;
}

#navBarSmall a {
    text-decoration: none;
    font-size: 35px;
    line-height: 100px;
    padding-right: 10px;
    color:white;
}
#navBarContainer a:hover {
    text-shadow: 0 0 2px white ;
}

#name{
    width: 25vw;
    /* padding: 10px 0 0 0; */
    padding-top: calc(20px);
}
#name img{
    width: 100%;
}

.downArrow {
    z-index: 1;
    width: 20px;
    height: 20px;
    border: solid white;
    border-width: 0 1px 1px 0;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 30px;
    -webkit-transform: rotate(45deg);
}

/* .parent{ 
    scroll-snap-type: y proximity;
}
.child{
    scroll-snap-align: start;
    
} */
.showreelContainer{
    width: 100vw;
}

#showreel{
    z-index: -10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* overflow: hidden; */
}
div.spacer{
    height:calc(50vh - 50px);
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-left: calc(50vw - 50px);
    z-index: 99;
    
    /* margin-top: calc(50vh - 50px); */
   
    /* padding-bottom: 50vh; */ 
    
}
#about {
    z-index: 10;
    position: relative;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    /* padding: 15vh 0 15vh 0;    */
    text-align: center;
    line-height: 30px;
    background-color: black;
}

/* #about h1{
    font-weight: bold;
} */

#about h2{
    font-weight: lighter;
}

#work{
    background-color: black;
    z-index: 10;
}

/* .workTwoColumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 10vw;
}
    .workTwoColumn img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .workTwoColumn div {
        width: 100%;
    } */

.filmSection{
    height: 100vh;
    width: 100%;
    margin-top: 10vh;
    /* position: absolute; */
    overflow: hidden;
  

}

.slides{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transition: transform 0.5s;
    position: relative;
    
    display: flex;

  }


.filmCover {
    width:100vw;
    position: relative;
}
.filmCoverImage{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    
    
}
.award{
    position: absolute;
    width: 10vw;
    height: 10vw;
    object-fit: contain;
    top: 20%;
    left: 10%;
    /* margin-top: -10px; */
    /* bottom: 30px; */
    
}
.filmDescription { 
    width: 25vw; 
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20vh 10vw 0 0 ;
    text-align: center;
    
}




.button {
    width: fit-content;
    /* display: block; */
    position: relative;
    text-align: center;
    /* background-color: white; */
    border: 1px solid white;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-style: normal;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    /* left:50%; */
    /* transform: translate(-50%,-50%); */
    
}

/* .button:hover {
    background-color: rgb(212, 209, 209);
    color:black;
    text-shadow: 0px 0px 2px black;
    border: 1px solid  rgb(212, 209, 209);
} */

.button:hover {
    transition: 0.3s;
    background-color:rgb(34, 33, 33);
    opacity: 0.6;
    /* text-shadow: 0px 0px 2px white; */
    border: 1px solid  white;
}

.backButton{
    width: 20px;
    height: 20px;
    border: solid white;
    border-width: 0 0 2px 2px;
    position: absolute;
    left: 30px;
    margin-bottom: -10px;
    bottom: 50%;
    -webkit-transform: rotate(45deg);
    cursor: pointer;

}

#backButton1{
    /* bottom:0; */
    z-index: 100;
}

.filmView {
    position: relative;
    width: 100vw;
}

.filmView a {
    position: absolute;
}

.player {
    width: 100%; 
    height: 100%;
}
#additionalWork {
    background-color: none;
    z-index: -10;
    
}
.filmSlideSmall{
    width:32.9vw;
    position: relative;
    background-color: black;
    transition: transform .2s;
}
.filmSlideSmall>div{
    /* color:black; */
    position: absolute;
    width: 50%; 
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.textSection > h1{
    padding: 20vh 0 20vh 0;
    margin: 0 0 0 0;
    background-color: none ;
}



.sliceCoverImage{
    height: 80vh;
    width:100%;
    object-fit: cover;
    transition: transform .2s;
    
}

.popUpFilmContainer{
    height: 100%;
    width: 66vw;
    /* position: absolute; */
    
}
.popUpFilm{
    width:100%;
}

.filmSliceContents{
    visibility: hidden;
    text-align: center;
    font-weight: lighter;
}
/* .filmSlideSmall:hover .filmSlideSmall {
    transform: scale(1.5);
} */
.filmSlideSmall:hover .filmSliceContents {
    visibility: visible;
}

.filmSlideSmall:hover .sliceCoverImage {
    
    opacity: 0.5;
    filter: saturate(80%);
    filter: blur(1px);
    /* transform: scale(1.1); */
}

/* #playTest{
    width:100%;
}
#playTestContainer{
    height: 100vh;
    width: 50vw;
    margin-top: 10vh;
    /* position: absolute; */
    /* overflow: hidden;
} */ 


.prev-arrow {
    width: 20px;
    height: 20px;
    border: solid white;
    border-width: 0 1px 1px 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: -40px;
    -webkit-transform: rotate(135deg);
    background-color: transparent;
    outline: none;
}

.next-arrow {
    width: 20px;
    height: 20px;
    border: solid white;
    border-width: 0 1px 1px 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: -40px;
    -webkit-transform: rotate(-45deg);
    background-color: transparent;
    outline: none;
}
.cover{
    position: relative;
    width:100%;
}
.playButton{
    position: absolute;
    width: 50%; 
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    object-fit: cover;
}

#footerContainer{
    padding: 10vh 5vw 10vh 5vw;
    display: flex;
    /* position: relative; */
    
    flex-direction: row;
    justify-content: space-between;
}
#copyrightText{
    position: relative;
    width:100%;
    height:inherit;
    
}
#copyrightText h3{
    position: absolute;
    /* top:50%; */
    /* transform: translate(0,-50%); */
    
}

#socialMediaContainer{
    display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#socialMediaContainer img{
    width: 50px;
    padding-left: 10px;
}


@media ( max-width: 800px ) {
    #navBarSmall { 
        display:flex;
        z-index: 99; }
    #navBarLarge { display:none; }
    div.sticky { z-index: 99;}
    #about{z-index: 0;}
    .downArrow{
        z-index: 90;
    }
    .award {
        width: 25vw;
        height: 25vw;
        top: 50%;
        left: 12%;
        margin-top: -12vw;
        /* bottom: 30px; */
    }
    #circusCoverImage{
        object-position: -50vw 0;
    }
    .filmDescription {
        /* margin-right: 0vw; */
        width: 40vw;

     }
     

}


@media ( max-width: 500px ) {
    #circusCoverImage{
        object-position: -30vw 0;
    }
    /* .filmSlideSmall:hover ~ .filmSlideSmall{
        width: 16.5vw;
    } */
    /* .filmSlideSmall:hover {
        width: 66vw;
    } */
    
    .popUpFilmContainer{
        height: 100%;
        width: 100vw;
        /* position: absolute; */
        
    }
}