body {
    background-color: black; 
    color: white;
    font-family: quicksand;
    margin: 0;
}

#navBarContainer{
    position: fixed;
    width: 100vw;
    z-index: 100;
}
#navBar{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

#navBar a {
    text-decoration: none;
    font-size: 25px;
    line-height: 130px;
    padding-right: 10px;
    color:white;
}


#showreel{
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.filmSection{
    height: 100vh;
    width:200vw;
    position: absolute;
}

#about {
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
}
.filmCover {
    width:100vw;
    position: relative;
}
.filmCover img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.filmDescription { 
    width: 25vw; 
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 40vh 10vw 0 0 
    
}

.filmView {
    position: relative;
}

.filmView a {
    position: absolute;
}

.section{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
}